body, html {
    background: linear-gradient(to bottom right, pink, orange);
}
.films-row {
    display: flex;
    background: #5fd4a9;
}
/*
#6fd9d5
*/
.all-borders {
    border: solid 2px black;
    margin-bottom: 50px;
}
.without-up {
    border: solid 2px black;
    border-top: solid 0px black;
    margin-bottom: 25px;
}
.without-bottom {
    border: solid 2px black;
    border-bottom: solid 0px black;
}
.only-side {
    border: solid 2px black;
    border-bottom: solid 0px black;
    border-top: solid 0px black;
}
.not-found-img {
    z-index: -10;
    margin-top: 10px;
}
h5.no-films {
    z-index: 50;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
}
a.redirect {
    text-decoration: none;
}
.not-found-film {
    position: relative;
    padding: 0;
    left: 125px;
    width: 200px;
}
div.error-rating {
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}
p.error-rating {
    padding: 0px;
    margin-right: 0px;
}
p.redirect {
    font-size: 1.2rem;
}
div.no-films {
    position: relative;
    z-index: 0;
    bottom: 30px;
    width: 500px;
    margin-left: 28%;
    background: #5fd4a9;
    margin-bottom: 90px;
    text-align: center;
}
.film {
    border: solid 2px black;
    border-bottom: solid 3px black;
    margin: 22px;
    padding: 0px;
    max-height: 400px;
    background-color: #292828;
}
.film-info {
    margin-top: -20px;
    margin-bottom: 10px;
}
p.film-name {
    position: relative;
    bottom: 3px;
    font-size: 1.2rem;
    margin-top: 1px;
    padding-left: 7px;
    color: white;
    min-width: 180px;
    min-height: 100px;
    background-color: #292828;
}
a.film-name {
    position: relative;
    top: 20px;
}
.film-name:hover {
    text-decoration: none;
    background-color: #292828;
}
.film-rating {
    position: relative;
    bottom: 40px; left: 105px;
    align: center;
    font-size: 18px;
    padding-left: 11px;
    padding-top: 1px;
    margin-left: 15px;
    width: 45px;
    height: 30px;
}
.green-rating {
    background-color: #3bc718;
}
.yellow-rating {
    background-color: #ffd30f;
}
.red-rating {
    background-color: #ed3e3e;
}
.styled-a {
    text-decoration: none;
    color: black;
}
.image {
    width: 180px;
    height: 270px;
    border-top-radius: 13px;
}