img.poster {
    float: left;
    padding-left: 2%;
}
.style_button {
    border: 2px solid black;
    background: #ffffff;
    border-radius: 35px;
    width: 130px;
    height: 45px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 0;
    padding-left: 0;
}
.rowDark {
    font-size: 16px;
    line-height: normal;
    display: flex;
    align-items: baseline;
    padding: 8px 0;
    padding-left: 35px;
    border-bottom-color: rgba(31,31,31,.1);
}
.titleDark {
    width: 160px;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0,0,0,0.8);
}
.valueDark {
    display: flex;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0,0,0,.8);
}
h1.name {
    padding-left: 26%;
    font-weight: 800;
    color: black;
}
.trailer {
    float: right;
}
/*
.style_button:hover {
    size: 103%;
    transition: 1s;
}
*/