<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <title>{{title}}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <input type="checkbox" id="burger">
        <label for="burger">
            <svg style="margin-left: 35px; margin-top: -5px; width: 24px;" height="24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M21 7.102H3v-2.4h18v2.4Zm0 6H3v-2.4h18v2.4Zm0 6H3v-2.4h18v2.4Z"
                      fill="#999999"></path>
            </svg>
        </label>
        <nav>
            <ul>
                <li><a href="#">x1</a></li>
                <li><a href="#">x2</a></li>
                <li><a href="#">x3</a></li>
                <li><a href="#">x4</a></li>
                <li><a href="#">x5</a></li>
            </ul>
        </nav>
        <div class="login-logout">
            {% if current_user.is_authenticated %}
            <h5 style="color: white; text-decoration: none;" class="navbar-brand">{{ current_user.login }}</h5>
            <a style="position: relative; bottom: 5px;" class="btn btn-danger" href="/logout">Выйти</a>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/registration">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
            {% endif %}
        </div>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container main-content">
        {% block content %}
        {% endblock %}
    </main>
<!--    <footer>-->
<!--        <p>© 2018 Gandalf</p>-->
<!--    </footer>-->
</div>
</body>
</html>