<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/film_page.css"/>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<div class="content">
    <img class="poster"
         src="https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/bef352e4-b675-4127-8735-89df3e97432c/300x450">
    <div class="film">
        <h1 class="name">Адский рай (сериал)</h1>
        <div>
            <div class="rowDark">
                <div class="titleDark">Год производства</div>
                <div class="valueDark">2023</div>
            </div>
        </div>
        <div>
            <div class="rowDark">
                <div class="titleDark">Страна</div>
                <div class="valueDark">Япония</div>
            </div>
            <div class="rowDark">
                <div class="titleDark">Год производства</div>
                <div class="valueDark">2023</div>
            </div>
            <div class="rowDark">
                <div class="titleDark">Длительность</div>
                <div class="valueDark">24 мин</div>
            </div>
            <div class="rowDark">
                <div class="titleDark">Жанр</div>
                <div class="valueDark">аниме, мультфильм, приключения</div>
            </div>
            <div class="rowDark">
                <div class="titleDark">Оригинальное название</div>
                <div class="valueDark">Jigokuraku</div>
            </div>
        </div>
        <button class="style_button"
                onclick="window.location='https://www.kinopoisk.ru/series/4786341/?utm_referrer=www.kinopoisk.ru';">
            Cмотреть
        </button>
        <button class="style_button"
                onclick="window.location='https://widgets.kinopoisk.ru/discovery/film/4786341?noAd=1&hidden=&onlyPlayer=1';">
            Трейлер
        </button>
    </div>
</div>
{% endblock %}
</body>
</html>